@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');
/* colors */
:root {
    --violet-c: #4747A1;
    --light-violet: #7978E9;
    --aside-link-c: #6C7383;
    --main-bg: #F5F7FF;
    --default-c: #1F1F1F;
    --title-c: #010101;
    --blue-c: #7DA0FA;
    --strong-blue-c: #248AFD;
    --green-c: #57B657;
    --red-c: #FF4747;
    --soft-red: #F3797E;
    --yellow-c: #FFC100;
    --grey-c: #737F8B;
    --border-c: #CED4DA;
}

/* box properties */
.d-flex {
    display: flex;
}
.align-c {
    align-items: center;
}
.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.just-end {
    justify-content: flex-end;
}
.just-btw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.just-c {
    justify-content: center;
}
.c-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.direction-column {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.gap-5 {
    gap: 5px;
}
.gap-10 {
    gap: 10px;
}
.gap-15 {
    gap: 15px;
}
.gap-20 {
    gap: 20px;
}
.gap-30 {
    gap: 30px;
}
.gap-120 {
    gap: 120px;
}
.d-block {
    display: block;
}
.d-inline-block {
    display: inline-block;
}
.d-grid {
    display: grid;
}
/* padding */
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-20 {
    padding: 20px;
}
.p-30 {
    padding: 30px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-11 {
    padding-top: 11px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-30 {
    padding-top: 30px;
}
.pt-50 {
    padding-top: 50px;
}
.pb-5 {
    padding-bottom: 5px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-11 {
    padding-bottom: 11px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pl-10 {
    padding-left: 10px;
}
.pl-15 {
    padding-left: 15px;
}
.pl-20 {
    padding-left: 20px;
}
.pl-30 {
    padding-left: 30px;
}
.pl-50 {
    padding-left: 50px;
}
.pr-10 {
    padding-right: 10px;
}
.pr-15 {
    padding-right: 15px;
}
.pr-20 {
    padding-right: 20px;
}
.pr-30 {
    padding-right: 30px;
}
/* margin */
.mt-5 {
    margin-top: 5px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-80 {
    margin-top: 80px;
}
.mt-100 {
    margin-top: 100px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mr-5 {
    margin-right: 5px;
}
.mr-40 {
    margin-right: 40px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-auto {
    margin-left: auto;
}
/* colors */
.black-c {
    color: #000;
}
.violet-c {
    color: var(--violet-c);
}
.green-c {
    color: var(--green-c);
}
.red-c {
    color: var(--red-c);
}
.blue-c {
    color: var(--blue-c);
}
.strong-blue-c {
    color: var(--strong-blue-c);
}
.grey-c {
    color: var(--grey-c);
}
.c-white {
    color: white;
}
.white-c {
    color: white;
}
.default-c {
    color: var(--default-c);
}
.aside-link-c {
    color: var(--aside-link-c);
}
.title-c {
    color: var(--title-c);
}

/* background */
.bg-white {
    background-color: white;
}
.bg-green {
    background-color: var(--green-c);
}
.bg-violet {
    background-color: var(--violet-c);
}
.bg-light-violet {
    background-color: var(--light-violet);
}
.bg-red {
    background-color: var(--red-c);
}
.bg-blue {
    background-color: var(--blue-c);
}
.bg-soft-red {
    background-color: var(--soft-red);
}
.bg-strong-blue {
    background-color: var(--strong-blue-c);
}
.bg-yellow {
    background-color: var(--yellow-c);
}
.bg-grey {
    background-color: #e9ecef;
}
.main-bg {
    background-color: var(--main-bg);
}
/* fonts */
.fs-10 {
    font-size: 10px;
}
.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fs-25 {
    font-size: 20px;
}
.fs-30 {
    font-size: 30px;
}
.fw-200 {
    font-weight: 200;
}
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.fw-800 {
    font-weight: 800;
}
.text-c {
    text-align: center;
}
.text-r {
    text-align: right;
}
.text-l {
    text-align: left;
}
.line16 {
    line-height: 1.6;
}
/* diminsion */
.profile-size {
    width: 50px;
    height: 50px;
}
.bullet-size {
    width: 20px;
    height: 20px;
}
.stick-width {
    width: 25px
}
.progress-height {
    height: 200px;
}
.w-fit {
    width: fit-content;
}
.w-full {
    width: 100%;
}
.city-width {
    width: 100px;
}
.chart-height {
    height: 15px;
}
/* posiition */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
/* border */
.border-b-eee {
    border-bottom: 1px solid #eee;
}
.border-b {
    border-bottom: 1px solid var(--border-c);
}

.border {
    border: 1px solid var(--border-c);
}
.border-violet {
    border: 2px solid var(--violet-c);
}
.border-n {
    border: none;
}
.out-n {
    outline: none;
}
/* border radius */
.rad-4 {
    border-radius: 4px;
}
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.rad-20 {
    border-radius: 20px;
}
.rad-50 {
    border-radius: 50%;
}
/* helper classes */
.trans {
    transition: .3s;
}
.pointer {
    cursor: pointer;
}
.btn-shape {
    padding: 3px 7px;
    border-radius: 2px;
    text-align: center;
}
.btn-p {
    padding: 3px 7px;
}
.line-th {
    text-decoration: line-through var(--c-blue);
}
.form-control-lg {
    padding: 20px 30px;
}
.form-control-sm {
    padding: 10px 10px;
}
@media (max-width: 1000px) {
    .hide-medium {
        display: none;
    }
}
@media (max-width:767px) {
    .hide-mobile {
        display: none;
    }
}